.container{
	width: 100%;
	height: auto;
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0px;
	padding-right: 0px;
	box-sizing: border-box;
	margin-top:20px;
	
}
.input-group{
	width: 600px;
	height: auto;
	border: 1px solid rgba(255,255,255,0.20);
	box-shadow:5px 5px 5px rgba(217,210,200,0.51), 
            -3px -3px 5px rgba(217,210,200,0.51);
	border-radius: 10px;
	padding: 0px !important;
	box-sizing: border-box;
	text-align: center;
	
}
.input-group .add_note{
	width: 90%;
	height: 45px;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	border: 0px solid white;

}
.input-group .add-todo{
	width: 10%;
	height: 45px;
	text-align: center;
	font-size: 1.5em;
	font-weight:100;
    float: right;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	align-items: center;

	-webkit-text-stroke: 0px #fff;
	box-sizing: border-box;
}
.add_note::placeholder{
	font-family: 'Merriweather Sans', sans-serif;
	padding: 15px;
}
.input-group .add_note:focus{
	outline: none;
}
.note_title{
	width: 100%;
	height: 40px;
	margin: 3px;
	padding: 0;
	border: 0px solid red;
}
.note_content{
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	border: 0px solid red;

	resize: none;
}
.note_title:focus , .note_content:focus{
	outline: none;
}
.note_title::placeholder {
	font-family: 'Merriweather Sans', sans-serif;
	padding: 10px;
}
.note_content::placeholder{
	font-family: 'Merriweather Sans', sans-serif;
	padding-left: 10px;
}

.btn-close{
	background-color: #fff;
	width: 70px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	float: right;
	border: 0px solid black;
}
.btn-close:hover{
	border: 1px solid rgb(167, 164, 164);
	background-color: rgb(167, 164, 164);
	outline: none;
}

.todo_title{
	width: 100%;
	height: 40px;
	margin: 3px;
	padding: 0;
	border: 0px solid red;
}
.todo_task{
	display:flex;
	align-items:center
	
}
.todo_content{
	width: 80%;
	height: 2rem !important;
	margin: 5px 10px 10px 10px;
	padding: 0.8rem;
	border-radius:5px;
	background-color:#014563;
	box-sizing:border-box;
	border-width:0px;
}
*:focus{
	outline: none;
}
.todo_content::placeholder,.todo_title::placeholder{
	font-size:1.1em !important;
}
.task-complete,.task-add{
	/* padding-top:2rem; */
	font-size:1.3rem;
	width:4%;
	box-sizing:border-box;
	
}
