.sidedrawer{
	height: 100vh;
	width: 15%;
	/* border:1px solid red; */
	float: left;
	margin: 0 !important;
	box-sizing: border-box;	
	display: flex !important;
	flex-direction: column;
	justify-content: flex-start !important;
	align-items: flex-start !important ;
	padding-top: 20px;
	padding-left: 15px;

	transition: transform 0.4s ease-in;
}
@media(max-width:499px){
	.sidedrawer{
		padding: 0 !important;
		/* border: 1px dotted red; */
		align-items: center !important;
		justify-content: center !important;
		/* transform: translateY(-50%); */
		margin: 0px;
		
	}
}
.btn-notes,.btn-archive,.btn-bin{
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 1.5em;
	font-weight:100;
    
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	align-items: center;
	
	margin-top: 20px;
	-webkit-text-stroke: 0px #fff;
	box-sizing: border-box;
	

}
.btn-notes:link,.btn-archive:link,.btn-bin:link{
	color: black;
}
.btn-notes:hover,.btn-archive:hover,.btn-bin:hover{
	border: 1px solid black;
	border-radius: 100%;
	background-color: rgb(245, 208, 128);
}