.sidedrawer{
	height: 100vh;
	width: 10%;
	/* border:1px solid red; */
	float: left;
	margin: 0;
	box-sizing: border-box;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
	padding-left: 15px;
}
.btn-notes,.btn-archive,.btn-bin{
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 1.5em;
	font-weight:100;
    
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	
	margin-top: 15px;
	-webkit-text-stroke: 0px #fff;

}
.btn-notes:hover,.btn-archive:hover,.btn-bin:hover{
	border: 1px solid black;
	border-radius: 100%;
	background-color: rgb(245, 208, 128);
}