
.btn-unarchive{
	box-sizing: border-box;
	font-size: 1.1em;
	width: 15%;
	display: inline-block;
	background-color: #fff;
	height: 28px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 0px solid black;
	position: relative;
}
.tooltiptext{
	visibility: hidden;
	width: 120px;
	background-color:#c1c1c1;
	color: #363636;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	top: -15%;
	left: 90%;
	z-index: 1;
}
.btn-unarchive:hover{
	box-sizing: border-box;
	border: 1px solid rgb(167, 164, 164);
	background-color: rgb(167, 164, 164);
	outline: none;
}
.btn-unarchive:hover ~.tooltiptext {
	visibility: visible;
  }

