.main-section{
	display: flex;
	flex-wrap: wrap;
	margin-left: 130px;
	
}
@media(max-width:499px){
	.main-section{
		display: flex;
		flex-wrap: wrap;
		margin-left: 10px;
	}
}
.note-box{
	width: 270px;
	height: 180px;
	border: 1px solid rgba(255,255,255,0.40);
	box-shadow:2px 2px 2px rgba(217,210,200,0.31), 
            -2px -2px 4px rgba(217,210,200,0.31);
	border-radius: 5px;
	margin-top:50px;
	margin-left: 15px;
	font-family: 'Poppins', sans-serif;
	padding: 8px;
	z-index: 100;
	position: relative;
}
.note-box .note-title{
	margin-bottom: 10px;
	width: 85%;
	display: inline-block;
	box-sizing: border-box;
}
.btn-unarchive{
	box-sizing: border-box;
	font-size: 1.1em;
	width: 15%;
	display: inline-block;
	background-color: #fff;
	height: 28px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 0px solid black;
}
.btn-unarchive:hover{
	box-sizing: border-box;
	border: 1px solid rgb(167, 164, 164);
	background-color: rgb(167, 164, 164);
	outline: none;
}
.note-footer{
	position: absolute;
	display: flex;
	flex-direction: column;
	float: right;
	bottom: 0;
	right: 0;
}
.btn-delete{
	background-color: #fff;
	width: 70px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 0px solid black;
}
.btn-delete:hover{
	border: 1px solid rgb(167, 164, 164);
	background-color: rgb(167, 164, 164);
	outline: none;
}
