.main-section{
	display: flex;
	flex-wrap: wrap;
	margin-left: 130px;
	
}
@media(max-width:499px){
	.main-section{
		display: flex;
		flex-wrap: wrap;
		margin-left: 10px;
	}
}
.note-box{
	width: 270px;
	height: 100px;
	border: 1px solid rgba(255,255,255,0.40);
	box-shadow:2px 2px 2px rgba(217,210,200,0.31), 
            -2px -2px 4px rgba(217,210,200,0.31);
	border-radius: 5px;
	margin-top:50px;
	margin-left: 15px;
	font-family: 'Poppins', sans-serif;
	padding: 8px;
	z-index: 100;
	position: relative;
}
.note-box .note-title{
	margin-bottom: 10px;
}
.note-footer{
	margin: 0px;
	display: flex !important;
	align-items:center;
	text-align: right !important;
	justify-content: center !important;
	flex-direction: row !important;
	/* border: 1px solid blue; */
	/* width: 90px; */
	box-sizing: border-box;
	width: 100%;

}
.tooltiptext1{
	visibility: hidden;
	width: 120px;
	background-color:#c1c1c1;
	color: #363636;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	top: 105%;
	left: 10%;
	z-index: 1;
}
.tooltiptext2{
	visibility: hidden;
	width: 120px;
	background-color:#c1c1c1;
	color: #363636;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	top: 105%;
	left: 50%;
	z-index: 1;
}
.btn-delete-forever,.btn-restore{
	background-color: #fff;
	width: 40px;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 1.2em;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2px ;
	
}
.btn-delete-forever:hover , .btn-restore:hover{
	border: 1px solid rgb(167, 164, 164);
	background-color: rgb(167, 164, 164);
	outline: none;
	

}

.btn-restore:hover ~.tooltiptext1 {
	visibility: visible;
  }
.btn-delete-forever:hover ~.tooltiptext2 {
	visibility: visible;
  }

